NODE_ENV=development
PORT=3000
TRUST_PROXY=false
MONGODB_URI=mongodb+srv://joshuaadegbola20_db_user:qotgS7rccZRG716N@mfm-apd.fjfr8dc.mongodb.net/mfm_ncr12_reports?appName=Mfm-apd
MONGODB_DB=mfm_ncr12_reports
R2_ACCOUNT_ID=286b7ab01cdb4cb6678b14d29e774ae4
R2_ACCESS_KEY_ID=6a5910e39b920b0bd4dd9e4253fdd679
R2_SECRET_ACCESS_KEY=6b1823f937e7309af5bcb8414a75453e95baba29221307484d50bd1d112a856a
R2_BUCKET=mfm-reports
R2_ENDPOINT=https://286b7ab01cdb4cb6678b14d29e774ae4.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-d366c6baef234454bbacb2da811f46b9.r2.dev
CAPABILITY_SECRET=C(2]>Fig9x=f|T7*T-doO03>Rg6esO1,
UPLOADS_ENABLED=true
MAX_FILE_BYTES=524288000
MAX_REPORT_BYTES=2147483648
DAILY_UPLOAD_BYTES=21474836480
ARCHIVE_EXPIRY_HOURS=24
